.oneTopicWithComments {
  display: grid;
  grid-template-areas:
    "topicStarterName"
    "topicName"
    /* "addCommentArea" */
    "commentPlaceHolder";

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: lightcyan;
  /* background-image: url("/backgroundImage.jpg"); */
}

/* .id {
  grid-area: id;
  max-width: 80%;
  justify-self: center;
} */

.topicStarterName {
  grid-area: topicStarterName;
  font-size: 1em;
  text-align: left;
  /* color: white; */
}

.topicName {
  grid-area: topicName;
  font-size: 1em;
  text-align: center;

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: white;
  word-break: break-all;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .addCommentArea {
  grid-area: addCommentArea;
  font-size: 1em;
  text-align: left;

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: lightcyan;
} */

/* textarea {
  font-size: 1em;
  text-align: left;
  width: 100%;
} */

.commentPlaceHolder {
  grid-area: commentPlaceHolder;
  display: grid;
  grid-template-areas:
    "commentActionArea"
    "commentDisplayArea";
  border: 1px solid black;
  margin: 16px;
  /* padding: 16px;
  grid-gap: 20px; */
  border-radius: 4px;
  /* background-image: url("/backgroundImage.jpg"); */
}

.commentActionArea {
  grid-area: commentActionArea;
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  text-align: left;
  padding-left: 16px;
}

.commentDisplayArea {
  grid-area: commentDisplayArea;
  display: flex;
  flex-direction: column-reverse;

  /* border: 1px solid black; */
  /* border-radius: 4px; */
}

.comment {
  font-size: 1em;
  text-align: center;

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: white;
  word-break: break-all;
}
/* 
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
} */
