.oneTopicWithComments {
  display: grid;
  grid-template-areas:
    "topicStarterName"
    "topicName"
    "addCommentArea"
    "commentPlaceHolder";

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: lightcyan;
}

/* .id {
  grid-area: id;
  max-width: 80%;
  justify-self: center;
} */

.topicStarterName {
  grid-area: topicStarterName;
  font-size: 1em;
  text-align: left;
}

.topicName {
  grid-area: topicName;
  font-size: 1em;
  text-align: center;

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: white;
  word-break: break-all;
}

.addCommentArea {
  grid-area: addCommentArea;
  font-size: 1em;
  text-align: left;

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: lightcyan;
}

textarea {
  font-size: 1em;
  text-align: left;
  width: 100%;
}

.commentPlaceHolder {
  grid-area: commentPlaceHolder;
  display: flex;

  flex-direction: column-reverse;
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: lightcyan;
}

.comment {
  font-size: 1em;
  text-align: center;

  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  grid-gap: 20px;
  border-radius: 4px;
  background-color: white;
  word-break: break-all;
}
